:root{
    --std-background-img: url("../img/standard-background.jpg");
}
body{
    background-image: var(--std-background-img);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0%;
}