:root{
    --std-background-img: url("../img/standard-background.jpg");
}
body{
    background-image: var(--std-background-img);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: 20%;
    background-size: 100% 100%;
}
body > *{
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}
footer{
    display: fixed;
    position: fixed;
    width: 100%;
    bottom: 0;
}
body > *:hover{
    opacity: 1;
}